############################################################################################################
#
#  General Setting 
#    
############################################################################################################

general:
    config_version : alpha # config file version ("alpha", "beta" is used before SQC done.)
                           # After SQC done, the version should be "1" for the first release version.
    platform: MT6261       # It is used for tool to identify the right setting for specific target

############################################################################################################
#
#  Boot Region Setting
#
############################################################################################################

boot_region:
  alignment: block         # block[default], page(NAND:2K/512B, NOR: 1KB, eMMC: 512B, SF: 256B)
  rom:
    - file: ARM_BL         # (ARM_BOOT)
    - file: EXT_BOOTLOADER # (XLDR)

############################################################################################################
#
#  Control Block Region Setting
#
############################################################################################################          

control_block_region:
  rom:


############################################################################################################
#
#  Main Region Setting
#
############################################################################################################

main_region:
  alignment: block         # block[default], page(NAND:2K/512B, NOR: 1KB, eMMC: 512B, SF: 256B)
  rom:
    - file: ROM            # (Modem.bin)
    - file: VIVA           # (Logo.bin)

############################################################################################################
#
#  File System Region Setting
#
############################################################################################################

file_system_region:
  rom:


############################################################################################################
#
#  External Memory Setting
#
############################################################################################################


############################################################################################################
#
#  Partition Region Setting (Linux, Symbian, WinCE)
#
############################################################################################################

linux_region:
  partitions:
    - partition:
        name: UBOOT
        file: uboot.bin
        address: 0x00000000
        type: raw          #raw, yaffs, yaffs2
    - partition:
        name: Linux
        file: boot.img
        address: 0x00000000
        type: raw          #raw, yaffs, yaffs2
    - partition:
        name: SYSTEM
        file: system.img
        address: 0x00000000
        type: yaffs          #raw, yaffs, yaffs2
    - partition:
        name: USERDATA
        file: userdata.img
        address: 0x00000000
        type: yaffs          #raw, yaffs, yaffs2  
